<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Buddyfied.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.alteredworlds.Buddyfied</string>
		<key>CFBundleShortVersionString</key>
		<string>1.2</string>
		<key>CFBundleVersion</key>
		<string>1.2.0</string>
		<key>IconPaths</key>
		<array>
			<string>Applications/Buddyfied.app/AppIcon40x40@2x.png</string>
			<string>Applications/Buddyfied.app/AppIcon60x60@2x.png</string>
		</array>
		<key>SigningIdentity</key>
		<string>iPhone Developer: Tom Gilbert (XJ44DNCXS7)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>Comment</key>
	<string>Version 1.2 - Submitted outside XCode</string>
	<key>CreationDate</key>
	<date>2014-09-16T13:05:19Z</date>
	<key>Name</key>
	<string>Buddyfied</string>
	<key>SchemeName</key>
	<string>Buddyfied</string>
</dict>
</plist>
